<!DOCTYPE html>
<html lang="en">



<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Bone Prison</title>
	<link rel="stylesheet" type="text/css" href="../static/content/boneprison.css">
</head>

<body>
		<h1 style="color: darkred; position: center">WELCOME TO THE</h1>
		<b style="font-size: xx-large; color: red; position: center">BONE PRISON</b>
		<h3 style="color: palevioletred">COMING SOON</h3>
</body>

</html>