
:root {
    --main-color: #F2545B;
    --secondary-color: #A93F55;
    --accent-color: #FFE066;
    --dark-color: #19323C;
    --light-color: #EDE2D0;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-image: url('/static/bone-prison-alt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: var(--secondary-color);
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: var(--dark-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

p {
    color: var(--light-color);
}